<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button pRipple severity="success" label="Ajouter" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
            <p-button pRipple severity="danger" label="Supprimer" icon="pi pi-trash" (click)="deleteSelectedDocuments()"
                [disabled]="!selectedDocuments || !selectedDocuments.length" />
        </ng-template>

        <ng-template pTemplate="right">
            <p-button pRipple severity="help" label="Exporter" icon="pi pi-upload" (onClick)="export()" />
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="documents" [rows]="10" [paginator]="true"
        [globalFilterFields]="['titre', 'details.annee', 'details.edition', 'details.auteur']"
        [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedDocuments" [rowHover]="true" dataKey="_id"
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées."
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterGlobal($event, dt)" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="titre" style="min-width:15rem">
                    Titre <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="type">
                    Type <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="dispo" style="min-width:10rem">
                    Disponibilité <p-sortIcon field="inventoryStatus" />
                </th>
                <th pSortableColumn="details.annee" style="min-width:10rem">
                    Details <p-sortIcon field="details" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
            <tr>
                <td>
                    <p-tableCheckbox [value]="document" />
                </td>
                <td>
                    {{ document.titre }}
                </td>
                <td>
                    {{ document.type }}
                </td>
                <td>
                    <p-tag [value]="document.dispo ? 'Disponible' : 'Non disponible'"
                        [severity]="getDisponibility(document.dispo)" />
                </td>
                <td>
                    <ng-container *ngIf="document.type === 'LIVRE'">
                        <!-- Display livre details -->
                        Année: {{ document.details.annee }}<br>
                        Edition: {{ document.details.edition }}<br>
                        Auteur: {{ document.details.auteur }}
                    </ng-container>
                    <ng-container *ngIf="document.type === 'PERIODIQUE'">
                        <!-- Display periodique details -->
                        Date: {{ document.details.date }}<br>
                        Périodicité: {{ document.details.periodicite }}
                    </ng-container>
                </td>


                <td>
                    <p-button pRipple icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                        severity="success" (click)="editDocument(document)" />
                    <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (click)="deleteDocument(document)" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Au total, il y a {{ documents ? documents.length : 0 }} documents.
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="documentDialog" [style]="{ width: '450px' }" header="Document Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Titre</label>
                <input type="text" pInputText id="name" [(ngModel)]="document.titre" required autofocus />
            </div>

            <div class="field">
                <label for="inventoryStatus">Disponibilité</label>
                <p-dropdown [(ngModel)]="document.dispo" inputId="dispo" [options]="statuses">
                    <ng-template pTemplate="selectedItem">
                        <p-tag [value]="document.dispo ? 'DISPONIBLE' : 'NON DISPONIBLE'"
                            [severity]="getDisponibility(document.dispo)" />
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <p-tag [value]="option ? 'DISPONIBLE' : 'NON DISPONIBLE'"
                            [severity]="getDisponibility(option)" />
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field">
                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category1" name="category" value="LIVRE" [(ngModel)]="document.type" />
                        <label for="category1">Livre</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category2" name="category" value="PERIODIQUE" [(ngModel)]="document.type" />
                        <label for="category2">Périodique</label>
                    </div>
                </div>
            </div>

            <!-- Livre Details -->
            <div *ngIf="document.type === 'LIVRE'" class="field">
                <label for="annee">Année</label>
                <input type="number" pInputText id="annee" [(ngModel)]="document.details!.annee" />
            </div>
            <div *ngIf="document.type === 'LIVRE'" class="field">
                <label for="auteur">Auteur</label>
                <input type="text" pInputText id="auteur" [(ngModel)]="document.details!.auteur" />
            </div>
            <div *ngIf="document.type === 'LIVRE'" class="field">
                <label for="edition">Édition</label>
                <input type="text" pInputText id="edition" [(ngModel)]="document.details!.edition" />
            </div>

            <div *ngIf="document.type === 'LIVRE'" class="field">
                <label for="exemplaires">Exemplaires</label>
                <p-multiSelect id="exemplaires" [(ngModel)]="document.exemplaires"
                    [options]="exemplairesOptions"></p-multiSelect>
            </div>

            <!-- Periodique Details -->

            <div *ngIf="document.type === 'PERIODIQUE'" class="field">
                <p-dropdown [options]="periodiciteOptions" [(ngModel)]="document.details!.periodicite"
                    placeholder="Périodicité">
                </p-dropdown>
            </div>

            <div *ngIf="document.type === 'PERIODIQUE'" class="field">
                <label for="date">Date</label>
                <input id="date" pInputText type="text" [(ngModel)]="document.details!.date" />
            </div>


        </ng-template>

        <ng-template pTemplate="footer">
            <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideDialog()" />
            <p-button pRipple label="Save" icon="pi pi-check" [text]="true" (click)="saveDocument()" />
        </ng-template>
    </p-dialog>


    <p-confirmDialog [style]="{ width: '450px' }" />
</div>